body {
    background: #f1f1f1;
    font-family: "quicksand", sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, .6) ;
    margin: 0; 
    line-height: 1.3;
}
 
a {
    color: inherit;
}
 
.topmenu {
    background: #2c3e50;
    color: #fff;
}
 
.topmenu a {
    text-decoration: none;
}
 
.blog-logo {
    font-size: 24px;
    display: block;
    text-align: center;
    padding: 12px 0;
}
 
.menu-link {
    text-align: center;
    padding-bottom: 16px; 
    line-height: 2;
    font-size: 1.2em;
}
 
.login {
    text-align: center;
    font-size: 1.2em;
}
 
.menu-link a, 
.login a {
    display: inline-block;
    margin: 0 12px;
    color: rgba(255, 255, 255, .65) ;
    transition: color 0.5s;
}
 
.menu-link a:hover,
.menu-link a.active,
.login a:hover {
    color: #fff;
}
 
/* POST SLIDER */
 
 
.caroussel-header {
    text-align: center;
    margin: 30px auto;
    color:black
}
 
.caroussel {
    position: relative;
    display: flex;
 
}
  
  /* .post-slider .next {
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2em;
    color: #006669;
    cursor: pointer;
  }
  
  .post-slider .prev {
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2em;
    color: #006669;
    cursor: pointer;
  } */
  
.caroussel .cards {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 350px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}
  
.caroussel .cards .article {
    width: 400px;
    height: 330px;
    margin: 0px 10px;
    display: inline-block;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(15, 4, 4);
}
  
.caroussel .cards .article .article-title {
    height: 130px;
    padding: 0px 5px;
}
 
.article-title a {
    text-decoration: none;
}
 
.article-title a:hover {
    color: #2c3e50;
    transition: 0.5s;
}
  
.caroussel .cards .article .image {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
 
 
@media only screen and (min-width: 955px) {
    .topmenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 65px;
        padding: 0 25px;
    }
 
    .blog-logo,
    .menu-link {
        padding: 0;
    }
 
    .menu-link a,
    .login a {
        margin: 0 20px;
    } 
 
}

.page-wrapper {
    min-height: 100%;
}

.content .main-content {
    width: 70%;
    float: left;
  }
  
  .content .main-content.single {
    background: white;
    padding: 20px 50px;
    font-size: 1.1em;
    border-radius: 5px;
  }
 
 
  
  .content .main-content.single .post-title {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .content .main-content .post {
    width: 95%;
    height: 270px;
    margin: 20px auto;
    border-radius: 5px;
    background: white;
    position: relative;
  }
    
  /* test */

  form{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

form .separation{
    width:100%;
    height: 1px;
    
}

form .corps-formulaire{
    display: 'flex';
}

form{
    background-color:#2c3e50;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-family: 'roboto', 'sans-serif';
    font-weight: 'bold';
}